*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --maincolor:rgb(1, 8, 32);
    --secColor:rgb(0, 20, 63);
    --purColor:purple;
    --lightroyal:royalblue;
}
body{
    user-select: none;
    font-family:'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--purColor);
    color: white;
}

main{
    height: 100vh;
    width: 100%;
    background-color:var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .container{
    height: 120px;
    width: 300px;
    background-color:var(--secColor);
    border-radius: 0 5px 5px 5px;
    padding: 10px;
    border: 2px solid var(--lightroyal);
    color: white;
}

main .container form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container form header {
    position: absolute;
    top: -47px;
    left:-12px;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--secColor);
    padding: 6px;
    border-radius: 5px 10px 0 0;
    border: 2px solid var(--lightroyal);
    border-bottom: none;
    color: var(--lightroyal);
}

main .container form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
main .container form div label{
    font-size: 14px;
    font-weight: 800;
    padding: 2px;
}

main .container form div input{
    width: 210px;
    padding: 2px 5px;
    font-size: 14px;
}
input[type='password']{
    letter-spacing: 8px;
}
main .container form div input::placeholder{
    letter-spacing: 0;
    color: silver;
}

main .container form div input:focus{
    outline: none;
    border: 2px solid var(--lightroyal);
    background-color: var(--lightroyal);
    color: white;
    caret-color: white;
}
main .container form > input{
    padding: 5px 30px;
    margin-left: 65px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--lightroyal);
    color: white;
    border-radius: 3px;
    transition: .5s;
}

main .container form > input:hover{
    background-color: var(--lightroyal);
    color: white;
}

main .msg{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1.5px solid var(--lightroyal);
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 172, 255);
    font-size: 15px;
    position: absolute;
    top: 85px;
    padding: 3px 0;
    display: none;
    z-index: 1000;
}
main .msg {
    flex-grow: 1;
}

main .msg div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    border-bottom: 1px solid var(--lightroyal);
}

main .msg div h2{
    font-size: 15px;
    font-weight: bold;
}

main .msg div i{
    color: rgb(156, 3, 3);
    font-size: 15px;
    cursor: pointer;
    padding: 2px;
}

main .msg p{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

@media (max-width:768px) {

    main{
        width: 100%;
    }

    main .container {
        height: 125px;
        min-width: 200px;
        max-width: 250px;
    }

    main .container form div{
        flex-direction: column;
    }

    main .container form div label{
        display: none;
    }

    main .container form div input{
        margin-top: 5px;
        max-width: 200px;
    }

    main .container form div input::placeholder{
        color: gray;
        letter-spacing: 2px;
    }

    main .container form > input{
        margin: auto;
    } 
}

.loading{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:var(--maincolor) ; */
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 0;
    display: none;
}

.loading .con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}


.loading .spinner{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin:0;
}

.loading .spinner:nth-child(1){
        background-color: var(--lightroyal);
        animation-name: load;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
    animation-play-state: paused;
}

.loading .spinner:nth-child(2){
    background-color: var(--purColor);
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-play-state: paused;
}

@keyframes load{
    0%{
        margin-bottom:20px;
    }
    50%{
        margin-bottom:0px;
    }
    100%{
        margin-bottom:25px;
    }
}

.loading  p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 5px 10px;
    color: var(--maincolor);
    animation-name: textan ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 4px;
    color: white;
    animation-play-state: paused;
}

@keyframes textan{
    0%{
        background: linear-gradient(to right , var(--lightroyal) , var(--purColor));
    }

    50%{
        background: linear-gradient(to right , var(--purColor) , var(--lightroyal));
    }

    100%{
        background: linear-gradient(to right , var(--lightroyal) , var(--purColor) );
    }
}


